ion-content.background{
    //--ion-background-color:#AF5921;
    --background: url(../../assets/img/b1.png) 0 0/100% 100% no-repeat;
  }
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    color: rgb(9, 59, 36);
}

.kelas{
    margin-top: -10%;
    height: 5%;
    color: rgb(4, 58, 33);
    margin-left: 5%;
}
ion-icon{
    width: 50px;
    height: 95px;
    margin-top: 190px;
    color: royalblue;
    repeat: non-repeat;
}
ion-card{
    background-color: rgb(0, 0, 160);
    color : white;
    ion-button{
        width: 40%;
        margin-left: 15%;
    }
}
.notif{
    ion-icon {
        width: 50px;
        height: 50px;
        margin-top: -100px;
        color: rgb(12, 29, 80);
        repeat: non-repeat;
    }
}