<ion-content padding class="background">
	<div class="container">
		<h2><b> SimaproKS </b></h2>
  </div>
  
  <ion-row class="notif">
    <ion-col style="text-align: right;">
      <ion-icon name="log-out-outline" routerLink="/logout" (click)="logout()"></ion-icon>
    </ion-col>
  </ion-row>
  <div class="ion-padding">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title> Aulia Irbah Salsabila </ion-card-title>
        <ion-card-subtitle> <ion-button> Download </ion-button> </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
  <ion-icon name="chevron-back-circle-outline" (click)="loginwali()"></ion-icon>
</ion-content>