<ion-content padding class="background">
	<div class="container">
		<h2><b> SimaproKS </b></h2>
  </div>
  
  <ion-row class="notif">
    <ion-col>
      <ion-icon name="notifications-circle-outline"  (click)="notif()" routerLink="/notifwalas"></ion-icon>
    </ion-col>
    <ion-col style="text-align: right;">
      <ion-icon name="log-out-outline" (click)="logout()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-img src="../../assets/img/menu.png"></ion-img>
  <div class="tes1">
    <h5><b> Kirim laporan hasil tes karakter </b></h5>
  </div>
  <ion-button expand="block" shape="round" routerLink="/menuwalas1"> klik disini </ion-button>
  <ion-icon name="chevron-back-circle-outline" routerLink="/loginwalas" (click)="loginwalas()"></ion-icon>
</ion-content>