ion-content.background{
    //--ion-background-color:#AF5921;
    --background: url(../../assets/img/b1.png) 0 0/100% 100% no-repeat;
  }
  
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    color: rgb(9, 59, 36);
}
.tes1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : -30px;
    color: rgb(10, 10, 10);
}
ion-icon{
    width: 50px;
    height: 50px;
    margin-top: 50px;
    color: royalblue;
    repeat: non-repeat;
}
ion-button{
    width: 40%;
    height: 6%;
    align-items: center;
    margin-left: 110px;
}
.notif{
    ion-icon {
        width: 50px;
        height: 50px;
        margin-top: -100px;
        color: rgb(12, 29, 80);
        repeat: non-repeat;
    }
}
ion-img{
    width: 40%;
    height: 40%;
    margin-left: 120px;
    margin-top: -30px;
    repeat: non-repeat;
}
