<ion-content padding class="background">
	<div class="container">
		<h2><b> SimaproKS </b></h2>
  </div>
  
  <ion-row class="notif">
    <ion-col style="text-align: right;">
      <ion-icon name="log-out-outline" (click)="logout()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-searchbar></ion-searchbar>
  <div class="ion-padding">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title> Rizka Rosita <ion-button> Download </ion-button> </ion-card-title> 
      </ion-card-header>
    </ion-card>
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title> Akhlika Elsa <ion-button> Download </ion-button> </ion-card-title>
      </ion-card-header>
    </ion-card>
    </div>
  <ion-icon name="chevron-back-circle-outline" (click)="menubk1()"></ion-icon>
</ion-content>