<ion-content padding class="background">
    <div class="container">
		<h2><b> SimaproKS </b></h2>
    </div>
    <div class="status">
		<h5><b> PILIH SESUAI STATUS ANDA </b></h5>
    </div>
    <br><br>
    <ion-button (click)="login()" routerLink="/login" expand="block" shape="round">Kepala Sekolah</ion-button>
    <ion-button (click)="loginbk()" routerLink="/loginbk"expand="block" shape="round">Guru BK</ion-button>
    <ion-button (click)="loginwalas()" routerLink="/loginwalas" expand="block" shape="round">Wali Kelas</ion-button>
    <ion-button (click)="loginsiswa()" routerLink="/loginsiswa" expand="block" shape="round">Siswa</ion-button>
    <ion-button (click)="loginwali()" routerLink="/loginwali"expand="block" shape="round">Wali Murid</ion-button>
    <ion-icon name="chevron-back-circle-outline" (click)="home()"></ion-icon>
</ion-content>