ion-content.background{
    //--ion-background-color:#AF5921;
    --background: url(../../assets/img/b1.png) 0 0/100% 100% no-repeat;
  }
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    color: rgb(9, 59, 36);
}
.masuk{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    bottom : 80%;
    color: rgb(0, 0, 0);
}
ion-icon{
    width: 50px;
    height: 50px;
    margin-top: 155px;
    color: royalblue;
    repeat: non-repeat;
}
ion-button{
    width: 80%;
    height: 6%;
    margin-left: 10%;
    align-items: center;
}
.apa{
  margin-left:5%;
  .email{
    align-items: center;
    color: black;
  }
  .password{
    align-items: center;
    color: black;
  }
}