<ion-content padding class="background">
	<div class="container">
		<h2><b> SimaproKS </b></h2>
  </div>
  <div class="daftar">
		<h5><b> Daftar Akun</b></h5>
    </div>
    <br>
  <div class="apa">
    <div class="email">
      <ion-label position="floating"> Email</ion-label>
      <ion-input type="text"[(ngModel)]="email"></ion-input>
    </div>
    <div class="password">
      <ion-label position="floating"> Kata Sandi </ion-label>
      <ion-input type="text" [(ngModel)]="password"></ion-input>
    </div>
  </div>
  <ion-button expand="block" shape="round" (click)="daftar()"> Daftar </ion-button>
  <ion-icon name="chevron-back-circle-outline" routerLink="/loginwalas" (click)="loginwalas()"></ion-icon>
</ion-content>