<ion-content padding class="background">
	<div class="container">
		<h2><b> SimaproKS </b></h2>
  </div>
  <div class="kelas">
		<h3><b> Kepala Sekolah </b></h3>
  </div>
  <ion-img src="../../assets/img/menu.png"></ion-img>
  <div class="pilih">
    <input type="file" name="inputFile" (change)="chooseFile($event)" required class="btn-rounded">
    </div>
  <br>
  <div class="a">
    <ion-button> kirim </ion-button>
  </div>
  <ion-icon name="chevron-back-circle-outline" routerLink="/menuwalas1" (click)="menuwalas1()"></ion-icon>
</ion-content>