ion-content.background{
    //--ion-background-color:#AF5921;
    --background: url(../../assets/img/b1.png) 0 0/100% 100% no-repeat;
  }
ion-button{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 40%;
    margin-top: -5%;
    ion-img{
        width: 40%;
        height: 40%;
        color: black;
        margin-left: auto;
        margin-top: 1%;
    }
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    color: black;
}
.kelas{
    margin-top: -10%;
    height: 30%;
    color: rgb(4, 58, 33);
    margin-left: 5%;
}
.a{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-bottom: 5%;
}
ion-img{
    width: 40%;
    height: 40%;
    margin-left: 120px;
    margin-top: -50%;
    repeat: non-repeat;
}
ion-icon{
    width: 50px;
    height: 50px;
    margin-top: 40px;
    color: royalblue;
    repeat: non-repeat;
}
ion-card{
    margin-top: -40%;
    background-color: aliceblue;
}
.pilih{
    margin-left: 20%;
    margin-top: -5%;
    margin-bottom: 5%;
    color: black;
}

