ion-content.background{
    //--ion-background-color:#AF5921;
    --background: url(../../assets/img/b1.png) 0 0/100% 100% no-repeat;
  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    color: rgb(9, 59, 36);
  }
  .kelas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    margin-top: -5%;
    bottom : 50%;
    color: rgb(0, 0, 0);
  }
  ion-button{
      width: 50%;
      height: 6%;
      align-items: center;
      margin-left: 100px;
      background-color: rgb(2, 33, 119);
  }
  ion-icon{
    width: 50px;
    height: 50px;
    margin-top: 70px;
    color: royalblue;
    repeat: non-repeat;
  }