<ion-content padding class="background">
  <div class="container">
  <h2><b> SimaproKS </b></h2>
  </div>
  <div class="kelas">
  <h5><b> Pilih Kelas </b></h5>
  </div>
  
  <br><br>
  <ion-button routerLink="/uploadkelas10" (click)="upload10()" expand="block" color="blue">Kelas 10</ion-button>
  <ion-button routerLink="/uploadkelas11" (click)="upload11()" expand="block" color="blue">Kelas 11</ion-button>
  <ion-button routerLink="/uploadkelas12" (click)="upload12()" expand="block" color="blue">Kelas 12</ion-button>
  <ion-button routerLink="/uploadkepsek" (click)="uploadkepsek()" expand="block" color="blue">Kepala Sekolah</ion-button>
  <ion-button routerLink="/uploadbk" (click)="uploadbk()" expand="block" color="blue">Guru BK</ion-button>
  <ion-button routerLink="/uploadwali" (click)="uploadwali()" expand="block" color="blue">Wali Murid</ion-button>
  <ion-icon name="chevron-back-circle-outline" (click)="menuwalas()"></ion-icon>
</ion-content>