<ion-content padding class="background">
	<div class="container">
		<h2><b> SimaproKS </b></h2>
  </div>
  <ion-row class="notif">
    <ion-col style="text-align: right;">
      <ion-icon name="log-out-outline" (click)="logout()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-searchbar></ion-searchbar>
  <ion-scroll scrollX="true" scrollY="true">
    <div class="ion-padding">
      <ion-card color="dark">
        <ion-card-header>
          <ion-card-title> Akhlika Elsa </ion-card-title>
          <br>
          <div class="pilih">
            <input type="file" name="inputFile" (change)="chooseFile($event)" required class="btn-rounded">
            </div>
          <div class="b">
            <ion-button> Kirim </ion-button>
          </div>
        </ion-card-header>
      </ion-card>
      </div>
  </ion-scroll>
  <ion-icon name="chevron-back-circle-outline" (click)="menuwalas1()"></ion-icon>
</ion-content>