<ion-content padding class="background">
	<div class="container">
		<h2><b> SimaproKS </b></h2>
  </div>
  
  <ion-row class="notif">
    <ion-col>
      <ion-icon name="notifications-circle-outline"  (click)="notif()" routerLink="/notifsiswa"></ion-icon>
    </ion-col>
    <ion-col style="text-align: right;">
      <ion-icon name="log-out-outline" routerLink="/logout"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-progress-bar [value]="uploadProgress" color="tertiary"></ion-progress-bar>

  <ion-img src="../../assets/img/menu.png"></ion-img>
  <div class="tes1">
    <h5><b> Mulai tes karakter </b></h5>
  </div>
  <div class="a">
    <ion-button expand="block" (click)="mulai()" color="light"> mulai </ion-button>
  </div>
  <div class="tes2">
    <h7><b> Unggah hasil test karakter kamu disini ya! </b></h7>
  </div>
  <div class="pilih">
  <input type="file" name="inputFile" (change)="chooseFile($event)" required class="btn-rounded">
  </div>
  <br>
  <div class="b">
    <ion-button (click)="upload()"> kirim </ion-button>
  </div>
  <image-cropper
  [imageBase64]="imageData"
  [maintainAspectRatio]="maintainRatio"
  [aspectRatio]="ratio"
  [resizeToWidth]="width"
  [resizeToHeight]="height"
  format="png"
  (imageCropped)="imageCropped($event)"   
></image-cropper>
  <ion-icon name="chevron-back-circle-outline" routerLink="/loginsiswa" (click)="loginsiswa()"></ion-icon>
</ion-content>