ion-content.background{
    //--ion-background-color:#AF5921;
    --background: url(../../assets/img/b1.png) 0 0/100% 100% no-repeat;
  }
  
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    color: rgb(9, 59, 36);
}
.tes1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : -50px;
    color: rgb(10, 10, 10);
}
.tes2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 5%;
    margin-bottom: 5%;
    color: rgb(10, 10, 10);
}
ion-icon{
    width: 50px;
    height: 50px;
    margin-top: 5px;
    color: royalblue;
    repeat: non-repeat;
}
.notif{
    ion-icon {
        width: 50px;
        height: 50px;
        margin-top: -100px;
        color: rgb(12, 29, 80);
        repeat: non-repeat;
    }
}
ion-img{
    width: 30%;
    height: 30%;
    margin-left: 130px;
    margin-top: -40px;
    margin-bottom: 5%;
    repeat: non-repeat;
}
.a{
    width: 40%;
    margin-left: 30%;
    align-items: center;
    color: royalblue;
}
ion-button{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 40%;
    margin-top: 0%;
    
    ion-img{
        width: 40%;
        height: 40%;
        color: black;
        margin-left: auto;
        margin-top: 1%;
    }
}
.b{
    width: 40%;
    margin-left: 30%;
    align-items: center;
}
.pilih{
    margin-left: 10%;
    color: black;
}