ion-content.background{
    //--ion-background-color:#AF5921;
    --background: url(../../assets/img/b1.png) 0 0/100% 100% no-repeat;
  }
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    color: rgb(9, 59, 36);
}
ion-icon{
    width: 50px;
    height: 50px;
    margin-top: 90px;
    color: royalblue;
    repeat: non-repeat;
}
ion-card{
    background-color: rgb(0, 0, 160);
    color : white;
}
.notif{
    ion-icon {
        width: 50px;
        height: 50px;
        margin-top: -100px;
        color: rgb(12, 29, 80);
        repeat: non-repeat;
    }
}
.a{
    ion-button{
        width: 75%;
        display: flex;
        justify-content: center;
        margin-left: 13%;
        margin-top: 5%;
        ion-img{
            width: 50%;
            height: 50%;
            color: black;
            margin-left: auto;
            margin-top: 1%;
        }
    }
}
.b{
    ion-button{
        width: 30%;
        display: flex;
        justify-content: center;
        margin-left: 35%;
        margin-right: -5%;
        margin-top: 5%;
    }
}
.pilih{
    margin-left: 10%;
    color: rgb(255, 250, 250);
}