<ion-content padding class="background">
  <div class="container">
  <h2><b> SimaproKS </b></h2>
  </div>
  <div class="kelas">
  <h5><b> Pilih Kelas </b></h5>
  </div>
  
  <br><br>
  <ion-button routerLink="/kelas10kepsek" expand="block" color="blue" (click)="kelas10kepsek()">Kelas 10</ion-button>
  <br>
  <ion-button routerLink="/kelas11kepsek" expand="block" color="blue" (click)="kelas11kepsek()">Kelas 11</ion-button>
  <br>
  <ion-button routerLink="/kelas12kepsek" expand="block" color="blue" (click)="kelas12kepsek()">Kelas 12</ion-button>
  <ion-icon name="chevron-back-circle-outline" routerLink="/login" (click)="login()"></ion-icon>
</ion-content>