<ion-content padding class="background">
	<div class="container">
		<h2><b> SimaproKS </b></h2>
  </div>
  <div class="masuk">
		<h7><b> MASUK AKUN </b></h7>
    </div>
    <br>
  <div class="apa">
    <div class="email">
      <ion-label position="floating"> Email</ion-label>
      <ion-input type="text"[(ngModel)]="email"></ion-input>
    </div>
    <div class="password">
      <ion-label position="floating"> Kata Sandi </ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </div>
  </div>
  <ion-button expand="block" shape="round" (click)="loginsiswa()"> Masuk </ion-button>
  <ion-icon name="chevron-back-circle-outline" (click)="halamanawal()"></ion-icon>
</ion-content>