<ion-content padding class="background">
	<div class="container">
		<h2><b> SimaproKS </b></h2>
  </div>
  <div class="Terima">
		<h2><b> Terima Kasih! </b></h2>
  </div>
	<ion-img src="../../assets/img/logout.png"></ion-img>
	<ion-icon name="home" routerLink="/home" (click)="home()"></ion-icon>
	<div class="menu">
		<h8><b> MENU </b></h8>
	</div>
</ion-content>