ion-content.background{
    //--ion-background-color:#AF5921;
    --background: url(../../assets/img/b1.png) 0 0/100% 100% no-repeat;
  }
  ion-img{
    width: 250px;
    height: 250px;
    margin-left: 60px;
    margin-right: 0px;
    margin-top: -30px;
    repeat: non-repeat;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    color: black;
  }
  .Terima{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    margin-top: -80px;
    text-shadow: black;
    color: rgb(14, 78, 23);
  }
  ion-icon{
    width: 50px;
    height: 50px;
    margin-left: 150px;
    margin-right: 0px;
    margin-top: 30px;
    color: rgb(255, 159, 81);
    repeat: non-repeat;
  }
  .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 20px;
    height: 5%;
    color: black;
  }