<ion-content padding class="background">
	<div class="container">
		<h2><strong>Selamat Datang</strong></h2>
	</div>
	<ion-img src="../../assets/img/a.png"></ion-img>
	<ion-icon name="home" routerLink="/halaman-awal"></ion-icon>
	<div class="menu">
		<h8><b> MENU </b></h8>
	</div>
</ion-content>