<ion-content padding class="background">
  <div class="container">
  <h2><b> SimaproKS </b></h2>
  </div>
  <div class="kelas">
  <h5><b> Pilih Kelas </b></h5>
  </div>
  
  <br><br>
  <ion-button routerLink="/kelas10bk" expand="block" color="blue" (click)="kelas10bk()">Kelas 10</ion-button>
  <br>
  <ion-button routerLink="/kelas11bk" expand="block" color="blue" (click)="kelas11bk()">Kelas 11</ion-button>
  <br>
  <ion-button routerLink="/kelas12bk" expand="block" color="blue" (click)="kelas12bk()">Kelas 12</ion-button>
  <ion-icon name="chevron-back-circle-outline" routerLink="/loginbk" (click)="loginbk()"></ion-icon>
</ion-content>